spring.application.name=studentManagement

spring.datasource.url=jdbc:mysql://localhost:3306/learning_springboot
spring.datasource.username=your_username
spring.datasource.password=your_password
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true

jwt.secret=your-secret-key-with-at-least-32-characters
